.arrow-down-blue {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 8px solid #2e5fa4;
}

.menu-arrow-bottom {
  bottom: -8px;
  margin-left: -26px;
  position: absolute;
  left: 50%;
}

div.backer {
  background: url('../img/common/background.png');
}

div.about {
  position: absolute;
  bottom: 20px;
}

div.name {
  font-size: 56px;
  font-weight: bold;
}

div.title {
  font-size: 28px;
}

.blue {
  color: #2e5fa4;
}

div.bgblue {
  background: #2e5fa4;
}

a.social {
  padding: 0 5px !important;
}

div.content {
  padding: 30px 0;
}

div.content-text {
  padding: 0 15px 0 0;
}

div.quals {
  font-size: 32px;
}

div.footer {
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

div.footer-left {
  position: absolute;
  left: 30px;
  text-align: left;
}

div.footer-center {
  margin: 0 auto;
}

div.footer-right {
  position: absolute;
  right: 30px;
  text-align: right;
}
